<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Coffee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Rice.Properties.Settings.Setting" connectionString="Data Source=.\;Initial Catalog=Rice;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RiceEntities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Rice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Rice.Properties.Settings>
      <setting name="Rice_Collections_Collection_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Collection</value>
      </setting>
      <setting name="Rice_PaddyBags_Paddy_bags_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Paddy_bags</value>
      </setting>
      <setting name="Rice_Bagweight_BagWeight_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE%20GROWERS/Page/BagWeight</value>
      </setting>
      <setting name="Rice_Company_Company_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Company</value>
      </setting>
      <setting name="Rice_Alternate_Alternate" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE%20GROWERS/Codeunit/Alternate</value>
      </setting>
      <setting name="Rice_Members_Members_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Members</value>
      </setting>
      <setting name="Rice_Dimensions_Dimensions_Service" serializeAs="String">
        <value>http://vaio:7002/Handinhand/WS/MWEA%20RICE/Page/Dimensions</value>
      </setting>
      <setting name="Rice_Contact_Contact_Service" serializeAs="String">
        <value>http://vaio:7002/Handinhand/WS/MWEA%20RICE/Page/Contact</value>
      </setting>
      <setting name="Rice_banks_Banks_Service" serializeAs="String">
        <value>http://vaio:7002/Handinhand/WS/MWEA%20RICE/Page/Banks</value>
      </setting>
      <setting name="Rice_Units_Units_Service" serializeAs="String">
        <value>http://vaio:7002/Handinhand/WS/MWEA%20RICE/Page/Units</value>
      </setting>
      <setting name="Rice_Users_Users_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Users</value>
      </setting>
      <setting name="Rice_Items_Items_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Items</value>
      </setting>
      <setting name="Rice_Services_Services_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Services</value>
      </setting>
      <setting name="Rice_ItemList_ItemsList_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/ItemsList</value>
      </setting>
      <setting name="Rice_Prices_Prices_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Prices</value>
      </setting>
      <setting name="Rice_Outlets_Outlets_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Outlets</value>
      </setting>
      <setting name="Rice_Movement_ItemMovement_Service" serializeAs="String">
        <value>http://mainserver:2012/MWEASERVICE/WS/MWEA%20RICE%20GROWERS/Page/ItemMovement</value>
      </setting>
      <setting name="Rice_ItemMovementHeader_ItemMovementHeader_Service"
        serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/ItemMovementHeader</value>
      </setting>
      <setting name="Rice_ItemHeader_ItemHeader_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Itemsheader</value>
      </setting>
      <setting name="Rice_Vendors_Vendors_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Vendors</value>
      </setting>
      <setting name="Rice_ItemEntries_Itementries_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Itementries</value>
      </setting>
      <setting name="Rice_ConversionMatrix_ConversionMatrix_Service"
        serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/ConversionMatrix</value>
      </setting>
      <setting name="Rice_Transferred_Transferred_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Transferred</value>
      </setting>
      <setting name="Rice_Reversals_Reversals_Service" serializeAs="String">
        <value>http://vaio:2302/MweaTest/WS/MWEA%20RICE/Page/Reversals</value>
      </setting>
      <setting name="Rice_Resource_Resource_Service" serializeAs="String">
        <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Resource</value>
      </setting>
      <setting name="Sync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Rice_Setup_Setup_Service" serializeAs="String">
        <value>http://mainserver:2012/MWEASERVICE/WS/MWEA%20RICE%20GROWERS/Page/Setup</value>
      </setting>
      <setting name="Rice_Transporter_Transporter_Service" serializeAs="String">
        <value>http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Transporter</value>
      </setting>
    </Rice.Properties.Settings>
    <Coffee.Properties.Settings>
      <setting name="Coffee_server_Collect" serializeAs="String">
        <value>http://localhost:4000/Collect.asmx</value>
      </setting>
    </Coffee.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>