<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="MobileEntities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Mobile;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <Collection.Properties.Settings>
      <setting name="Collection_Transactions_Transactions_Service" serializeAs="String">
        <value>http://192.168.1.118:5052/embassava/WS/EMBASSAVA%20SACCO%20LTD/Page/Transactions</value>
      </setting>
      <setting name="Collection_Users_Users_Service" serializeAs="String">
        <value>http://localhost:4002/emba/WS/EMBASSAVA%20SACCO%20LTD/Page/Users</value>
      </setting>
      <setting name="Collection_Members_Members_Service" serializeAs="String">
        <value>http://localhost:4002/emba/WS/EMBASSAVA%20SACCO%20LTD/Page/Members</value>
      </setting>
      <setting name="Collection_Transtypes_Transtypes_Service" serializeAs="String">
        <value>http://vaio:3002/Embassava/WS/EMBASSAVA%20SACCO%20LTD/Page/Transtypes</value>
      </setting>
      <setting name="Collection_Mbranch_Mbranch" serializeAs="String">
        <value>http://desktop-elbbejj:4002/emba/WS/EMBASSAVA%20SACCO%20LTD/Codeunit/Mbranch</value>
      </setting>
      <setting name="Collection_Vehicles_Vehicles_Service" serializeAs="String">
        <value>http://desktop-elbbejj:4002/emba/WS/EMBASSAVA%20SACCO%20LTD/Page/Vehicles</value>
      </setting>
      <setting name="Collection_Credits_Credits_Service" serializeAs="String">
        <value>http://desktop-elbbejj:4002/emba/WS/EMBASSAVA%20SACCO%20LTD/Page/Credits</value>
      </setting>
      <setting name="Collection_Transaction1_Transactions1_Service" serializeAs="String">
        <value>http://192.168.1.118:5052/embassava/WS/EMBASSAVA%20SACCO%20LTD/Page/Transactions1</value>
      </setting>
    </Collection.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>