<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <clear />
    <add name="ConnString" connectionString="Data Source=.\sql2008;Initial Catalog=Messages;Persist Security Info=True;User ID=oldmutualkenya;Password=01dm@keny@; Connect Timeout=60000;" providerName="System.Data.SqlClient" />
    <add name="SaccoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008;Initial Catalog=Sacco;Persist Security Info=True;User ID=sa;Password=Coretec01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SaccoEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008;Initial Catalog=Sacco;Persist Security Info=True;User ID=sa;Password=Coretec01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MessagesEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008;Initial Catalog=Messages;Persist Security Info=True;User ID=oldmutualkenya;Password=01dm@keny@;Connect Timeout=60000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BankingEntities" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=Banking;Persist Security Info=True;User ID=sa;Password=Coretec01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MobileEntities" connectionString="metadata=res://*/sms.csdl|res://*/sms.ssdl|res://*/sms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Mobile;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Web.Services.Asmx">
        <listeners>
          <add name="AsmxTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="local.log" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Web.Services.Asmx" value="Verbose"  />
    </switches>
  </system.diagnostics>-->
</configuration>