<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.paul.a_sacco">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:allowBackup="true" android:debuggable="true" android:icon="@drawable/bank" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.example.paul.a_sacco.Splash" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:icon="@drawable/cashdeposits" android:label="@string/title_activity_login" android:name="com.example.paul.a_sacco.Login" android:screenOrientation="portrait"/>
        <activity android:icon="@drawable/cashdeposits" android:label="@string/title_agency_list" android:name="com.example.paul.a_sacco.AgencyListActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_agency_detail" android:name="com.example.paul.a_sacco.AgencyDetailActivity" android:parentActivityName="com.example.paul.a_sacco.AgencyListActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.example.paul.a_sacco.AgencyListActivity"/>
        </activity>
        <activity android:label="@string/title_activity_withdrawal" android:name="com.example.paul.a_sacco.Withdrawal" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible"/>
        <activity android:label="@string/title_activity_loanrepayment" android:name="com.example.paul.a_sacco.Loanrepayment" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_transfers" android:name="com.example.paul.a_sacco.Transfers" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_registration" android:name="com.example.paul.a_sacco.Registration" android:screenOrientation="portrait"/>
        <activity android:icon="@drawable/settings" android:label="@string/title_activity_settings" android:name="com.example.paul.a_sacco.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_confirmation_box" android:name="com.example.paul.a_sacco.Confirmation_box" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_results" android:name="com.example.paul.a_sacco.Results" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_balance" android:name="com.example.paul.a_sacco.Balance" android:screenOrientation="portrait"/>
    </application>
</manifest>
