<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--server-->
<Serverip>localhost</Serverip>
<domain>localhost</domain>	
<EInstance>Bandari</EInstance>	
<Port>212</Port>
<EUsername>hp</EUsername>
<Epass>Rahabgathoni2</Epass>
<Companyname>IANSOFT</Companyname>	
<!--local db-->	
<Server>localhost</Server>
<Instance></Instance> 
<Username>Autoweigh</Username>
<pass>Rahabgathoni2</pass>
<database>Rice</database>
<IntegratedSecurity>true</IntegratedSecurity>
<!--others-->	
<PostIntervalinsec>10</PostIntervalinsec>
<Reconnectintervalinsec>3</Reconnectintervalinsec>
<logpath>C:\Logs\</logpath>
</settings>