<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bandari_Sacco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!--<add name="Constr" connectionString="Data Source=.;Initial Catalog=Bandari Sacco Ltd;User ID=sa;Password=kamuye; Timeout=60" providerName="System.Data.SqlClient="/>-->
    <add name="Constr" connectionString="Data Source=.\;Initial Catalog='Bandari Sacco Ltd';User ID=PortalUser;Password=123; Timeout=60" providerName="System.Data.SqlClient=" />
  </connectionStrings>
  <appSettings>
    <!--<add key="sitePath" value="A:\Portals\Creation\Bandari" />
    <add key="dbName" value="Bandari Sacco Ltd" />
    <add key="source" value="." />
    <add key="user" value="sa" />
    <add key="pwd" value="kamuye" />
    <add key="company" value="Bandari Sacco Ltd" />-->

    <add key="sitePath" value="C:\Portal\LIVE2" />
    <!--<add key="sitepath" value="A:\Portals\Creation\Bandari" />-->
    <!--<add key="sitepath" value="C:\Portal\BandariSacco" />-->
    <add key="dbName" value="NAV_LiveDB" />
    <add key="source" value=".\" />
    <add key="user" value="Paul" />
    <add key="pwd" value="" />
    <add key="company" value="Bandari Sacco Ltd"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--    <httpHandlers>-->
    <!--      <add verb="GET" path="CaptchaImage.axd"  type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />-->
    <!--    </httpHandlers>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>

    <!--<pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true"><controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls></pages>-->
    <httpHandlers>
      <!--<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />-->
    </httpHandlers>
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="5"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<remove name="BotDetectCaptchaHandler" />-->
      <!--<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />-->
    </handlers>
  </system.webServer>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ListsSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      --><!--<endpoint address="http://servername/_vti_bin/Lists.asmx"
     binding="basicHttpBinding" bindingConfiguration="ListsSoap"
     contract="ServiceReference1.ListsSoap" name="ListsSoap1" />--><!--
    </client>

  </system.serviceModel>-->
  <!--<botDetect>
		<captchaImage>
			<helpLink enabled="true" mode="image" />
		</captchaImage>
	</botDetect>-->
  <applicationSettings>
    <Bandari_Sacco.Properties.Settings>
      <setting name="Bandari_Sacco_NavService_NavPortal" serializeAs="String">
        <value>http://195.202.93.60:5053/Bandari2/WS/Bandari%20Sacco%20Ltd/Codeunit/NavPortal</value>
      </setting>
      <setting name="Bandari_Sacco_NavService2_NavPortal" serializeAs="String">
        <value>http://172.17.1.3:5053/Bandari2/WS/Bandari%20Sacco%20Ltd/Codeunit/NavPortal</value>
      </setting>
    </Bandari_Sacco.Properties.Settings>
  </applicationSettings>
</configuration>