<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <Collection.Properties.Settings>
      <setting name="Collection_Mpesa_Mpesa_Service" serializeAs="String">
        <value>http://paulo:7047/DynamicsNAV/WS/HOMABAY%20COUNTY%20WOMEN%20SACCO/Page/Mpesa</value>
      </setting>
      <setting name="Collection_Mobile_Mobile" serializeAs="String">
        <value>http://desktop-8rh2q4n:402/Powdep/WS/Pamoja%20Women%20Dev.%20Programme/Codeunit/Mobile</value>
      </setting>
      <setting name="Collection_Members_Members_Service" serializeAs="String">
        <value>http://paulo:5002/PAWDEP/WS/Pamoja%20Women%20Dev.%20Programme/Page/Members</value>
      </setting>
      <setting name="Collection_TransHeader_Trans_Header_Service" serializeAs="String">
        <value>http://desktop-8rh2q4n:402/Powdep/WS/Pamoja%20Women%20Dev.%20Programme/Page/Trans_Header</value>
      </setting>
      <setting name="Collection_TransLine_Trans_Line_Service" serializeAs="String">
        <value>http://desktop-8rh2q4n:402/Powdep/WS/Pamoja%20Women%20Dev.%20Programme/Page/Trans_Line</value>
      </setting>
      <setting name="Collection_Logins_Logins_Service" serializeAs="String">
        <value>http://desktop-8rh2q4n:402/Powdep/WS/Pamoja%20Women%20Dev.%20Programme/Page/Logins</value>
      </setting>
      <setting name="Collection_Groups_Groups_Service" serializeAs="String">
        <value>http://paulo:5002/PAWDEP/WS/Pamoja%20Women%20Dev.%20Programme/Page/Groups</value>
      </setting>
      <setting name="Collection_Loans_Loans_Service" serializeAs="String">
        <value>http://paulo:5002/PAWDEP/WS/Pamoja%20Women%20Dev.%20Programme/Page/Loans</value>
      </setting>
      <setting name="Collection_Advance_Advance_Service" serializeAs="String">
        <value>http://paulo:5002/PAWDEP/WS/Pamoja%20Women%20Dev.%20Programme/Page/Advance</value>
      </setting>
      <setting name="Collection_Transactions_PW_Transactions_Service"
        serializeAs="String">
        <value>http://paulo:5002/PAWDEP/WS/Pamoja%20Women%20Dev.%20Programme/Page/PW_Transactions</value>
      </setting>
      <setting name="Collection_Advance_issue_Advance_issue_Service"
        serializeAs="String">
        <value>http://paulo:5002/PAWDEP/WS/Pamoja%20Women%20Dev.%20Programme/Page/Advance_issue</value>
      </setting>
    </Collection.Properties.Settings>
  </applicationSettings>
</configuration>