<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RunCodunit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RunCodunit.Properties.Settings>
            <setting name="RunCodunit_Run_RunThem" serializeAs="String">
                <value>http://localhost:8113/Mwalimu/WS/Mwalimu%20Sacco/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="RunCodunit_Companies_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_Companies_RunThem" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SalesOrder_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="RunCodunit_Systemservice_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_sms_Sms_Service" serializeAs="String">
                <value>http://paulo:7047/DynamicsNAV/WS/HOMABAY%20COUNTY%20WOMEN%20SACCO/Page/Sms</value>
            </setting>
            <setting name="RunCodunit_mbranch_MBranch" serializeAs="String">
                <value>http://paulo:212/Bandari/WS/BANDARI/Codeunit/MBranch</value>
            </setting>
            <setting name="RunCodunit_Atm_Atm_Service" serializeAs="String">
                <value>http://paulo:212/Bandari/WS/BANDARI/Page/Atm</value>
            </setting>
        </RunCodunit.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
