<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Serverip>localhost</Serverip>
  <domain>localhost</domain>
  <Instance>Coretec</Instance>
  <Port>2012</Port>
  <Username>Paul</Username>
  <pass>Rahabgathoni1</pass>
  <Companyname>Coretec</Companyname>
  <PostIntervalinsec>60</PostIntervalinsec>
  <Reconnectintervalinsec>3</Reconnectintervalinsec>
  <logpath>C:\ATM Logs\</logpath>
</settings>